#data  {
	border-collapse:collapse;
	border-spacing:0;
}
#data td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 15px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}
#data th {
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 15px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
#data .dataLinks {
	text-align: center;
}
.home-icon {
	position: relative;
	top: -8px;
	left: 17px;
	float: left;
}
section {
	float: left;
	margin-top: 40px;
	width: 65%;
}
aside {
	background: -webkit-gradient(linear, left top, left bottom, from(#a3a3a3), to(#5c5c5b));
	float: right;
	width: 30%;
	border-radius: 3px;
}
#sidebar {
	font-style: italic;
	padding-right: 40px;
	list-style: none;
}
img {
	margin-top: 1em;
    max-width: 100%;
    height: auto;
}
.menu,
.menu > ul,
.menu > ul > li,
.menu > ul > li > a {
	height: 50px;
	display: inline-flex;
	width: 60vw;
}
.menu {
	position: absolute;
	padding-right: 40px;
	font-family: Helvetica, Arial, sans-serif;
	background: #b2b2b2;
	border-radius: 3px;
}
.menu:after,
.menu ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #494949;
}
.menu ul li:hover a,
.menu ul li a:hover,
.menu ul li.active a {
	color: #b84452;
}